<!DOCTYPE html>
<html lang="{{ site.Language }}" dir="{{ .Language.LanguageDirection | default "auto" }}">

<head>
    {{- partial "head.html" . }}
</head>



<body class="
{{- if eq site.Params.defaultTheme `dark` -}}
{{- print " dark" }}
{{- end -}}
" id="top">
    {{- partialCached "header.html" . .Page -}}
    <main class="main">
        <!-- <img src="{{ "flyer2023.jpg" | absURL }}" alt="Logo des Baladins de la Tour" class="logo"> -->        
        {{- block "main" . }}{{ end }}   
           
    
    <footer class="entry-footer">
        {{ partial "social_icons.html" site.Params.socialIcons }}
        
        
    </footer>
    </main>
    
    {{ partialCached "footer.html" . .Layout .Kind (.Param "hideFooter") (.Param "ShowCodeCopyButtons") -}}

    
</body>

</html>
